.modal {
    align-items: center;
    justify-content: center;
}

.modal-game {
    position: absolute;
    display: none;
    width: 600px;
    height: 600px;
    background: rgba(139, 116, 161, 0.5);
    margin-top: 50px;
}

.modal-start {
    display: none;
}

.modal-start--active {
    margin-top: 50px;
    position: absolute;
    width: 600px;
    height: 600px;
    background: rgba(139, 116, 161, 0.5);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-game--active {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;   
}

.restart-btn{
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background: rebeccapurple;
    border: none;
    border-radius: 4px;
    border: 0.5px solid rgb(227, 223, 223);
}

.start-btn {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background: rgb(26, 185, 42);
    border: none;
    border-radius: 4px;
    border: 0.5px solid rgb(227, 223, 223);
}
.settings-list__item-button {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
    font-style: normal;
    background-color: azure;
}
.settings-list__item-button:disabled {
    opacity: 0.2;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.modal-game__title {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px;
    font-size: 30px;
    color: white;
}

.modal-game__desc {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
}

.open{
    cursor: pointer;
    display: none;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
    position: absolute;
}

.open:hover {
    opacity: 0.7;
}

.modal-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.modal-settings__choice {
    width: 200px;
    margin-top: 10px;
    border: 1px solid rgb(2, 2, 2);
    padding: 5px;
    justify-content: flex-start;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
}

.modal-settings__choice option{
    font-size: 18px;
}

.select-list {
    margin: 0 auto;
    margin-top: 20px;    
    padding: 30px 120px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
}

.modal-settings__done {
    display: none;
    position: absolute;
    color: green;
    width: 40px;
    height: 40px;
    animation: done 1.6s forwards;
}

.modal-settings__done--active {
    display: block;
}

@keyframes done {
    0% {
        width: 40px;
        height: 40px;
        opacity: 1;
    }

    50% {
        width: 60px;
        height: 60px;
        opacity: 1;
    }

    50% {
        width: 60px;
        height: 60px;
        opacity: 1;
    }


    100% {
        width: 60px;
        height: 60px;
        display: none;
        opacity: 0;
    }
}
